.formBuilderWrapper{

    .paper{
        padding: 20px;
    }
      
    // .formControl{
    //     margin: 32px auto;
    // }
      
    // .fieldSet{
    //     margin-bottom: 16px;
    // }

    .form{
        width: 100%;
        padding: 16px;
        // display: flex;
    }

}