
.lobbyWrapper{

    margin: 32px auto;

    .videoFeedWrapper{

        margin: 24px;

        .userVideoStream{
            width: 100%;
        }

    }

    .meetingInfoWrapper{
        margin: 24px;
        padding: 40px;
        
    }

}

